<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/components/font-awesome/css/font-awesome.css' />
    <link rel='stylesheet' href='/components/sweetalert/lib/sweet-alert.css' />
    <style>
	    html, body
		{
			background: rgba(39,54,72,1);
			margin :0;
			

		}

    	.rankcontain{
			width: 100%;
			overflow: auto;
    	}
		.rank{
			width: 100%;
			height: auto;
			max-height: 20%;
			display: inline-block;
			margin-bottom: 5px;
			padding: 0;
			overflow: hidden;
			background: rgba(251,241,241,0.9);
		}
		.photo{
			width: 30%;
			float: left;
		}
		.photo img{
			padding: 10px;
			width: 100%;
			height: 100%;

		}
		.rank .info{
			float: left;
			width: 45%;
			padding: 10px;
			
		}
		.rank .info .name{
			
		}
		.rank .info .score{

		}
		.rank .add{
			position: absolute;
			width: 25%;
			overflow: hidden;
			top: 5px;
			bottom: 15px;
			right:15px;
			background: #E6A1AD;
			display: inline-block;
		}

		.rank .add .addbut{
			height: 100%;
			width: 100%;
			text-align: center;
			display: -webkit-flex;
			display:         flex;
			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content: center;
			justify-content: center;

	        color: rgba(221,213,215,1);
		}
		.rank .add .addcover{
			position: absolute;
			top:0px;
			width:100%;
			height: 100%;
			background: rgba(221,213,215,1);
		}
    </style>
  </head>
  <body ng-app="myApp" ng-controller="indexCtrl">

  	<div style="font-size: 5em; padding: 10px; width: 100%; text-align: center; color: white;">建 榜
	
  	</div>
	<div class="rankcontain">
		<div class="col-lg-4 col-lg-offset-4 col-xs-12" ng-repeat="user in users">
			<div class="rank">
				<div class="photo" ng-click='PlusD($index)'>
					<img ng-src="{{user.image}}" alt="">
				</div>
				<div class="info" ng-click="seeRecord(user)" data-toggle="modal" data-target="#recordModal">
					<div class="name"><h3 ng-bind="user.name"></h3></div>
					<div class="score"><h3 ng-bind="user.basic +'+'+ user.extra"></h3></div>
					
				</div>
				<div class="add">
	<!-- 				<div class="addcover" ng-hide="user.click" ng-click="clickAdd(user)"> -->
						<!-- ng-click="clickAddConfirm(user, $index)" -->
					<!-- </div> -->
					<div class="addbut" id="timerSec" ng-click = 'clickAdd(user, $index)' data-toggle="modal" data-target="#myModal">
						<i class="fa fa-plus fa-3x" ng-show="user.cooldown == 0"></i>
						<p ng-hide="user.cooldown == 0">
							冷卻中<br><span ng-hide="user.cooldown == 0" ng-bind="user.cooldown"></span>
						</p>
						
					</div>
					
					
				</div>
				
			</div>	
			
		</div>
	</div>



	<!-- modal -->

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h2 class="modal-title" id="myModalLabel">給點理由吧</h2>
	      </div>
	      <div class="modal-body">
	        <div class="form-group">
				<input id="reason" type="text" class="form-control input-lg" ng-model="reason">
	        </div>
	      </div>
	      <div class="modal-footer">
		      <div class="form-group">
		      	<button type="button" class="btn btn-default btn-lg input-lg form-control" data-dismiss="modal">沒事我按錯</button>
		      </div>
	        
	        <div class="form-group">
	        	 <button type="button" class="btn btn-primary btn-lg input-lg form-control" ng-click='clickAddConfirm(userModal.user, userModal.idx)'>送出</button>
	        </div>
	       
	      </div>
	    </div>
	  </div>
	</div>


	<div class="modal fade" id="recordModal" tabindex="-1" role="dialog" aria-labelledby="recordModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h2 class="modal-title" id="myModalLabel">犯錯紀錄</h2>
	      </div>
	      <div class="modal-body">
	       <div class="panel panel-default">
			  <div class="panel-body">
			    <table class="table table-condensed">
				    <thead>
				    	<tr>
					  	  <td></td>
						  <td>事由</td>
						  <td>時間</td>
						  <td>狀態</td>
						</tr>
				    </thead>
				    <tbody>
					    <tr ng-repeat="record in recordModal">
					  	  <td>{{$index +1}}</td>
						  <td>{{record.reason}}</td>
						  <td>{{record.createAt}}</td>
						  <td ng-bind="record.archive ? '核實' : '未核實'">{{record.archive}}</td>
						</tr>	
				    </tbody>
				  	
				</table>
			  </div>
			</div>
	      </div>
	      <div class="modal-footer">
		      <div class="form-group">
		      	<button type="button" class="btn btn-default btn-lg input-lg form-control" data-dismiss="modal">關閉</button>
		      </div>
	        
	       
	       
	      </div>
	    </div>
	  </div>
	</div>

	
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/angular/angular.js"></script>
    <script src="/components/angular-sweetalert/SweetAlert.js"></script>
    <script src="/components/sweetalert/lib/sweet-alert.js"></script>

    <script>
		$('#myModal').on('shown.bs.modal', function () {
		  $('#reason').focus()
		})
	</script>


    <script src="/javascripts/app.js"></script>
  </body>
</html>
